{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group mg-b-10">
        <label class="custom-switch ps-0">
            <input type="checkbox" name="domaine" class="custom-switch-input">
            <span class="custom-switch-indicator me-3"></span>
            <span class="custom-switch-description mg-l-10">Domaine</span>
        </label>
    </div>
    <div class="mt-5 float-end">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
