<table border="1px solid #000">
	<tr>
		<th>Nom et prénoms</th>
		<th>Nationalité</th>
		<th>Diplome</th>
		<th>Formation</th>
		<th>Décision</th>
		<th>Justification</th>
		<th>Parcours professionnel parcours informfezekzqskkeqdnnjgh</th>
		<th>Parcours global</th>
	</tr>
	<tr>
		<td>Agbo Fabrice</td>
		<td>Bénin</td>
		<td>Informatique de gestion</td>
		<td>Création de site web</td>
		<td>Acceptée</td>
		<td>Dossier complet et conforme au exigeance</td>
		<td>Parcours professionnel</td>
		<td>Parcours global</td>
		
	</tr>
	<tr>
		<td>John DOE</td>
		<td>Togo</td>
		<td>Informatique de gestion</td>
		<td>Création de site web</td>
		<td>Acceptée</td>
		<td>Dossier complet et conforme au exigeance</td>
		<td>Parcours professionnel</td>
		<td>Parcours global</td>
	</tr>
</table>