{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block breadcrumb_title %}
    <div class="page-header">
        <h1 class="page-title">Accueil</h1>
{#         <div> #}
{#             <ol class="breadcrumb"> #}
{#                 <li class="breadcrumb-item"><a href="javascript:void(0)">Accueil</a></li> #}
{#                 <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li> #}
{#             </ol> #}
{#         </div> #}
    </div>
{% endblock %}


{% block content %}
    
    <!-- ROW-2 -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sales Analytics</h3>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-2 END -->

{% endblock %}
