<label class="custom-control custom-checkbox-md ">
    <input type="checkbox" class="custom-control-input parcours" id="checkbox-{{ organisme }}">
    <span class="custom-control-label">{{ poste ~ " à " ~ organisme }}</span>
</label>